node_modules
npm-debug.log
.git
.gitignore

.env
.env.*
*.pem
*.ppk
*.key
*.zip
*.tar
*.tar.gz
*.tgz

logs
public/uploads/*
!public/uploads/.gitkeep

phase1
phase2
phase3
evidence
.github
deploy
monitoring

deploy-src.tar.gz
devops-webapp-prod.tar.gz